
@media screen and (min-width:320px) and (max-width: 425px) {
    .blueBg {
        padding: 38px 0 0 0;
        width: 38%;
        height: 21%;
    }

    .blueBg span {
        font-size: 18px;
        line-height: 18px;
    }

    .blueBg h2 {
        font-size: 15px;
        line-height: 18px;
    }

    .ca5 {
        margin-left: -6px;
    }

    .col3_edit {
        margin-left: -16px;
        float: left;
        width: 55%;
        padding: 0;
    }

    .whiteBg_1 {
        width: 100%;
        height: 21%;
    }

    .whiteBg_1 span {
        padding: 1px;
        font-family: Avenir Next LT Pro;
        font-size: 6em;
        font-weight: 600;
        line-height: 0px;
        text-align: center;
        color: #393B3E;
        padding-top: 21px;
    }

    .ca1 {
        padding: 11px 0px 0px 0px;
    }

    .ca1 span {
        font-family: Avenir Next LT Pro;
        font-size: 4em;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .ca2 {
        margin-top: 0px;
        padding: 3px 0px 0px 0px;
        background: #4285F4 !important;
        color: #fff;
        border-radius: 0% !important;
    }

    .ca2 span {
        font-family: Avenir Next LT Pro;
        font-size: 4em;
        line-height: 43px;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .headerTop {
        width: 80%;
    }
    .headerTop h2 {
        font-size: 18px;
    }
    .graph1 {
        margin-bottom: 10px;
    }
    .yapa span {
        font-size: 11px;
        line-height: 16px;
    }
    .txt span {
        font-size: 11px;
        line-height: 26px;
    }
    .cashout span {
        font-size: 11px;
        line-height: 34px;
    }
    .amount span {
        font-size: 11px;
        line-height: 40px;
    }
    .success span {
        font-size: 11px;
        line-height: 40px;
    }
    .time span {
        font-size: 11px;
        line-height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .blueBg {
        padding: 93px 0 65px 0;
    }

    .blueBg h2 {
        font-size: 34px
    }

    .blueBg span {
        font-size: 30px;
    }

    .whiteBg_1 {
        padding: 61px 0 46px 0;
    }

    .whiteBg_1 span {
        font-size: 10em;
    }

    .ca1 {
        padding: 25px 0px 16px 0px;
    }

    .day1 {
        padding: 5px
    }

    .day1 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .day2 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .head {
        padding-top: 36px;
        padding-bottom: 15px;
    }

    .head h1 {
        font-size: 34px
    }

    .head span {
        font-size: 28px;
        line-height: 55px;
    }

    table.table td,
    table.table th {
        padding-top: 4.1rem !important;
        padding-bottom: 3rem !important;
    }

    .cell2 span {
        font-size: 23px;
    }

    .cell3 span {
        font-size: 35px;
    }
}

@media screen and (max-width: 1080px) {
    .blueBg {
        padding: 93px 0 65px 0;
    }

    .blueBg h2 {
        font-size: 34px
    }

    .blueBg span {
        font-size: 30px;
    }

    .whiteBg_1 {
        padding: 61px 0 46px 0;
    }

    .whiteBg_1 span {
        font-size: 10em;
    }

    .ca1 {
        padding: 25px 0px 16px 0px;
    }

    .day1 {
        padding: 5px
    }

    .day1 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .day2 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .head {
        padding-top: 36px;
        padding-bottom: 15px;
    }

    .head h1 {
        font-size: 34px
    }

    .head span {
        font-size: 28px;
        line-height: 55px;
    }

    table.table td,
    table.table th {
        padding-top: 4.1rem !important;
        padding-bottom: 3rem !important;
    }

    .cell2 span {
        font-size: 23px;
    }

    .cell3 span {
        font-size: 35px;
    }
}

@media screen and (max-width: 1024px) {
    .blueBg {
        padding: 75px 0 41px 0;
    }

    .blueBg h2 {
        font-size: 31px
    }

    .blueBg span {
        font-size: 30px;
    }

    .whiteBg_1 {
        padding: 61px 0 46px 0;
    }

    .whiteBg_1 span {
        font-size: 9em;
    }

    .ca1 {
        padding: 25px 0px 16px 0px;
    }

    .day1 {
        padding: 5px 2px 5px 3px
    }

    .day1 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .day2 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .head {
        /* padding-top: 36px; */
        padding-bottom: 15px;
    }

    .head h1 {
        font-size: 27px;
        line-height: 29px;
    }

    .head span {
        font-size: 28px;
        line-height: 55px;
    }

    table.table td,
    table.table th {
        padding-top: 3.1rem !important;
        padding-bottom: 3rem !important;
    }

    .cell2 span {
        font-size: 22px;
        font-weight: bold;
    }

    .cell3 span {
        font-size: 35px;
    }
}

@media screen and (max-width: 1280px) {
    .blueBg {
        padding: 93px 0 65px 0;
    }

    .blueBg h2 {
        font-size: 34px
    }

    .blueBg span {
        font-size: 30px;
    }

    .whiteBg_1 {
        padding: 61px 0 46px 0;
    }

    .whiteBg_1 span {
        font-size: 10em;
    }

    .ca1 {
        padding: 25px 0px 16px 0px;
    }

    .day1 {
        padding: 5px
    }

    .day1 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .day2 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .head {
        padding-top: 36px;
        padding-bottom: 15px;
    }

    .head h1 {
        font-size: 34px
    }

    .head span {
        font-size: 28px;
        line-height: 55px;
    }

    table.table td,
    table.table th {
        padding-top: 4.1rem !important;
        padding-bottom: 3rem !important;
    }

    .cell2 span {
        font-size: 23px;
    }

    .cell3 span {
        font-size: 35px;
    }
}

@media screen and (max-width:1321px) {
    .blueBg {
        padding: 93px 0 65px 0;
    }

    .blueBg h2 {
        font-size: 34px
    }

    .blueBg span {
        font-size: 30px;
    }

    .whiteBg_1 {
        padding: 61px 0 46px 0;
    }

    .whiteBg_1 span {
        font-size: 10em;
    }

    .ca1 {
        padding: 25px 0px 16px 0px;
    }

    .day1 {
        padding: 5px
    }

    .day1 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .day2 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .head {
        padding-top: 36px;
        padding-bottom: 15px;
    }

    .head h1 {
        font-size: 34px
    }

    .head span {
        font-size: 28px;
        line-height: 55px;
    }

    table.table td,
    table.table th {
        padding-top: 3.1rem !important;
        padding-bottom: 3rem !important;
    }

    .cell2 span {
        font-size: 23px;
    }

    .cell3 span {
        font-size: 35px;
    }
}

@media screen and (min-width: 1440px) {
    .blueBg {
        padding: 93px 0 65px 0;
    }

    .blueBg h2 {
        font-size: 34px
    }

    .blueBg span {
        font-size: 30px;
    }

    .whiteBg_1 {
        padding: 61px 0 46px 0;
    }

    .whiteBg_1 span {
        font-size: 10em;
    }

    .ca1 {
        padding: 25px 0px 16px 0px;
    }

    .day1 {
        padding: 5px
    }

    .day1 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .day2 h2 {
        font-size: 18px;
        font-weight: 700;
    }

    .head {
        padding-top: 36px;
        padding-bottom: 15px;
    }

    .head h1 {
        font-size: 34px
    }

    .head span {
        font-size: 28px;
        line-height: 55px;
    }

    table.table td,
    table.table th {
        padding-top: 3.1rem !important;
        padding-bottom: 2rem !important;
    }

    .cell2 span {
        font-size: 27px;
    }

    .cell3 span {
        font-size: 35px;
    }

    .serverTop {
        margin-top: -12px;
        border-bottom: 1px solid #828282;
        padding-bottom: 10px;
    }
    .server1 {
        padding: 40px;
    }
    .server1 span {
        font-size: 35px;
        line-height: 46px;
    }

    
}

