
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir-next-lt-pro-cufonfonts/AvenirNextLTPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

    
 #loader {
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* margin: -75px 0 0 -75px; */
    background-image: url('../images/vr-loader.gif');
    background-size: cover;

  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
/* wise loader end */


/* FIRST PAGE CSS  */
/* .column {
    float: left;
    width: 50%;
    padding: 0;
  } */
  
  .null {
      padding: 10px 0px 10px 0pxx
  }
  .blueBg {
    background: linear-gradient(180deg, #00B9FF 0%, #007FFF 100%);
    border-radius: 8px 0px 0px 8px !important;
    padding:80px 0 65px 0;
 }

 .blueBg span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
 }
  .blueBg h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.02em;

color: #FFFFFF;
  }
  .whiteBg {
    border-radius: 0px 8px 8px 0px !important;
    padding: 5px 0 3px 0;
  }

.cImg {
    width: 10%;
}
table.table td, table.table th {
    /* padding-top: 1.8rem !important; */
    padding-bottom: 1rem;
}

.eds {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.whiteBg span {
    padding: 1px;
    font-weight: bold;
    font-family: Avenir Next LT Pro;
    font-size: 100px;
    line-height: 104px;
    text-align: center;
    color: #393B3E;
    padding-top: 23px;
}
.blueBg2 {
    background:linear-gradient(180deg, #00B9FF 0%, #007FFF 100%);
    color: #fff;
    border-radius: 8px 0px 0px 8px !important;
    text-align: center;
    padding:80px 0 65px 0;
    font-size: 19px;
    font-weight: 400;
  }
.blueBg2 h2{
    font-size: 30px;
    font-weight: 700;
    padding: 12px 0 11px 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.whiteBg2 {
    width: 102%;
    border-radius: 0px 8px 8px 0px !important;
    padding: 25px 0 33px 0;
}
.whiteBg2 span {
    padding: 1px;
    font-weight: 600;
    font-family: Avenir Next LT Pro;
    font-size: 100px;
    line-height: 140px;
    text-align: center;
    color: #393B3E;
    padding-top: 17px;
}

.blueBg3 {
    background: #23c948 !important;
    color: #fff;
    border-radius: 8px 0px 0px 8px !important;
    text-align: center;
    padding: 28px 0 20px 0 ;
    font-size: 19px;
    font-weight: 400;
  }

.blueBg3 h2{
    padding: 4px 0 8px 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;

color: #FFFFFF;
}
.whiteBg3 {
    border-radius:0px 0px 0px 0px !important;
    background: #09bf1f !important;
    box-shadow: 0px 7px 6px rgba(154, 154, 154, 0.13);
    padding: 26px 0 20px 0;
}
.whiteBg3 span {
    font-weight: 400;
    font-family: Avenir Next LT Pro;
    font-size: 6em;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}


.blueBg4 {
    background: #CF4767 !important;
    color: #fff;
    border-radius: 8px 0px 0px 8px !important;
    text-align: center;
    padding: 32px 0 16px 0;
    font-size: 19px;
    font-weight: 400;
  }

.blueBg4 h2{
    padding: 4px 0 8px 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;

color: #FFFFFF;
}
.whiteBg4 {
    border-radius: 0px 0px 0px 0px !important;
    background: #D0214B !important;
    box-shadow: 0px 7px 6px rgba(154, 154, 154, 0.13);
    padding: 30px 0 16px 0;
}
.whiteBg4 span {
    font-weight: 400;
    font-family: Avenir Next LT Pro;
    font-size: 6em;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.row3 {
    margin-bottom: 15px;
}
.col1 {
    position: relative;
    width: 100%;
    padding-right: 28px !important;
    padding-left: 29px !important;
}

.str {
    padding-right: 0px !important;
    padding-left: 0px !important;
 
}

.rowTp {
    padding-top: 15px;
}

.thirdRow {
    padding-top: 17px;
}
.thirdCard {
    text-align: center;
    font-size: 18px;
    background: #577cd4 !important;
    color: #fff;
    padding: 10px;
    font-weight: 500;
}

.thirdCard h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.card-body {
    padding: 0 !important
}

.wiseT {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.head {
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    background: #1E4A86;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: #fff;
    padding-top: 21px;
}

.head h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.head span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    line-height: 39px;
}


.head2 {
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    background: #1E4A86;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 35px;
}

.head2 h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.table-bordered {
    border: 1px solid #dee2e6;
    background: #FFFFFF;
    box-shadow: 0px 7px 6px rgba(154, 154, 154, 0.13);
}
.col3_edit {
    margin-left: -16px;
    float: left;
    width: 62%;
    padding: 0;
}

.col3_edit2 {
    margin-left: 0px;
    text-align: center;
    float: left;
    width: 40%;
    padding: 0;
}

.whiteBg_1 {
    border-radius: 0px 0px 0px 0px !important;
    padding:49px 0 46px 0;
    margin-top: 1px;
}

.whiteBg_1 span {
    padding: 1px;
    font-family: Avenir Next LT Pro;
    font-size: 9em;
    font-weight: 600; 
    line-height: 106px;
    text-align: center;
    color: #393B3E;
    padding-top: 21px;
}

.ca1 {
    border-radius: 0px 10px 0px 0 !important;
    margin-top: 0px;
    background: #1E4A86 !important;
    color: #fff;
    padding: 18px 0px 17px 0px;
}
.ca1 span {
    font-family: Avenir Next LT Pro;
    font-size: 5.2em;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.02em;
}
.ca2 {
    margin-top: 0px;
    padding: 11px 0px 8px 0px;
    background: #4285F4 !important;
    color: #fff;
    border-radius: 0% !important
}
.ca2 span {
    font-family: Avenir Next LT Pro;
    font-size: 5em;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.02em;
}
.ca5 {
    margin-left: 8px;
}

.ca6 {
    margin-left: -14px
}
.ca7 {
    margin-left: -30px
}
.day1 {
    text-align: center;
    width: 100%;
    background: #5a3c71;
    padding: 2px;

}

.day2 {
    width: 100%;
    background: #1E4A86;
    border-radius: 0px 0px 10px 0px;
    padding: 2px;
}

.day1 h2 {
    font-family: Avenir Next LT Pro;
    line-height: 10px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    padding-top: 6px
}

.day2 h2 {
    font-family: Avenir Next LT Pro;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 8px
}

.agEdit {
    margin-left: -15px;
}

.div5 {
    margin-left: -30px;
}

.arrow {
    background: #FFFFFF;
    border-radius: 0px 10px 10px 0px !important;
    margin-left: -30px;
    width: 109px;
    padding: 19px 0 18px 0;
}

.arrow span {
    line-height: 70px;
    font-size: 31px;
}
.arrowUp {
    padding: 20px;
    font-size: 7em;
    display: contents !important;
    color: #47CF6D;
    box-shadow: 0px 3px 4px rgba(255, 255, 255, 0.46);
}

.arrowDown {
    padding: 20px;
    font-size: 7em;
    display: contents !important;
    color: #D0214B;
    box-shadow: 0px 3px 4px rgba(255, 255, 255, 0.46);
    transform: rotate(-180deg);
}

.arrow img {
    padding: 29px 0px 5px 0px;
    text-align: center;
    margin-left: 27%;
}

.table-bordered td, .table-bordered th {
    border: none !important;
}
.table td, .table th {
    padding: 2.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
/* table.table td, table.table th {
    padding-top: 6px !important;
    padding-bottom: 5px !important; */
    /* text-align: left
} */


.item-cell-up i {
    color: #47CF6D;
    box-shadow: 0px 3px 4px rgba(255, 255, 255, 0.46);
    font-size: 50px;
    line-height: 6px;
    position: relative;
    top: 9px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle !important;
    border-top: 1px solid #dee2e6;
}

table td {
    font-size: 1.9rem !important;
    font-weight: 300;
}
.cell1 span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #828282;
    padding-left: 20px;
}
.cell2 {
    width: 55%;
    text-align: left
}
.cell3 {
    width: 25%;
    text-align: right
}
.cell2 span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #1E4A86;
    text-align: left;
}
.cell3 span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #4285F4;
}

.item-cell-down i{
    font-size: 50px;
    line-height: 6px;
    position: relative;
    top: 9px;
    color: #D0214B;
    box-shadow: 0px 3px 4px rgba(255, 255, 255, 0.46);
}

/* FIRST PAGE CSS END */


/*SECOND PAGE CSS */
.bg1 {
    background: linear-gradient(180deg, #00B9FF 0%, #007FFF 100%);
    border-radius: 10px 0px 0px 10px !important;
    /* position: absolute !important;
    left: 0%;
    right: -8.66%;
    top: 0%;
    bottom: -56%; */
}

.col3 {
    padding: 0 !important
}
.col9 {
    padding-left: 0px !important;
    padding-right: 0 !important;
}

.bg1 span {
    padding: 80% 0% 85% 0%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.vaCard {
    position: relative;
    right: 0%;
    top: 0%;
    bottom: 68.55%;
    padding: 2% 0% 2% 0%;
    background: #4285F4 !important;
    left: 0%;
}
.v-2 {
    border-radius: 0px 10px 0px 0px !important;
}
.vaCard h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: auto;
}

.nCard {
    border-radius: inherit !important;
    padding: 7% 0% 6% 0%;
}
.nCard h2{
    font-family: Avenir Next LT Pro;
    font-size: 75px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #393B3E;
    margin-bottom: auto;
}

.nTop {
    padding-right: 10px !important;
    padding-left: 17px !important;
}

.nCard2 {
    border-radius: inherit !important;
    padding: 8% 0% 7% 0%;
}
.nCard2 h2{
    font-family: Avenir Next LT Pro;
    font-size: 75px;
    font-weight: 600;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #393B3E;
    margin-bottom: auto;
}
.upCaret {
    padding: 8% 0% 7% 0%;
    background: #1E4A86 !important;
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box;
    border-radius: inherit !important;
}

.upCaret span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.upCaret i {
    color: #47CF6D;
    font-size: 44px;
    position: relative;
    top: 5px;
    left: 25px;
}

.left-col, .s-col {
    display: grid !important;
    padding-left: 15px !important;
    padding-right: 0px !important;
}
.right-col, .f-col {
    display: grid !important;
    padding-left: 0px !important;
    padding-right: 15px !important;
}

.successCard {
    padding: 2% 0% 1% 0%;
    background: #fff !important;
    opacity: 0.88;
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box;
    border-radius: initial !important;
}

.successCard span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #23CA48;
}

.failedCard {
    background: #fff !important;
    opacity: 0.88;/* white */
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box !important;
}
.f-2 {
    border-radius: 0px 0px 10px 0px !important
}

.failedCard span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4285F4;
}

.copyEdit {
    padding-top: 15px;
}
/* SECOND PAGE CSS END */



/* THIRD PAGE CSS  */
.headerTop {
    width: 38%;
    margin: auto;
    background: linear-gradient(180deg, #00B9FF 0%, #007FFF 100%);
    border-radius: 10px;
    padding: 4px;
    margin-top: 5px;
}

.headerTop h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.liveBody {
    margin-top: -15px;
}

.yapa {
    width: 20%;
    background: #006B8C;
    border-radius: 10px 0px 0px 10px;
    text-align: center !important;
    padding-bottom: 1px !important;
    padding-top: 0px !important;
    /* padding-bottom: 10px !important;
    padding-top: 10px !important; */
}

.yapa span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.txt {
    width: 20%;
    background:#fff;
    font-family: Nunito Sans;
    text-align: center !important
}

.txt span {
    color: #354e77;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 40px;
    text-align: center !important;
}

.cashout {
    background: #006B8C;
    font-family: Nunito Sans;
    text-align: center !important;
    width: 15%;
    
}

.cashout span {
    color: #fff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 7px;
    text-align: center !important;
    letter-spacing: 0.04em;
}

.amount {
    width: 11%;
    background: #fff;
    font-family: Nunito Sans;
    text-align: center !important
}

.amount span {
    color: #1E4A86;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    text-align: center !important;
    letter-spacing: 0.04em;
}

.success {
    background: #00B653;
    font-family: Nunito Sans;
    text-align: center !important;
    width: 20%;
    
}

.success span {
    color: #fff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 40px;
    text-align: center !important;
    letter-spacing: 0.04em;
}  

.failed {
    font-family: Nunito Sans;
    text-align: center !important;
    background: #D0214B;
    width: 15%;
}

.failed  span {
    color: #fff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-align: center !important;
    letter-spacing: 0.04em;
}  


.pending {
    font-family: Nunito Sans;
    text-align: center !important;
    background: #4285F4;
    width: 15%;
}

.pending  span {
    color: #fff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-align: center !important;
    letter-spacing: 0.04em;
}

.time {
    width: 15%;
    background: #fff;
    font-family: Nunito Sans;
    text-align: center !important;
    border-radius: 0px 10px 10px 0px;
    
}

.time span {
    color: #4F4F4F;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-align: center !important;
    letter-spacing: 0.04em;
    border-radius: 0px 10px 10px 0px;
}

.canvas-1 {
    display: block;
    width: 90% !important;
    height: 100% !important;
    margin: auto;
    padding: 0px;
}
.canvas-2 {
    display: block;
    width: 90% !important;
    height: 100% !important;
    margin: auto
}
.conEdit {
    width: 80%;
    margin: auto;
}
.graph1 {
    background: #fff;
    width: 100%;
    height: 410px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 18px;
}

.graph2 {
    background: #fff;
    width: 100%;
    height: 410px;
    margin-left: 2px;
    margin-right: -7px;
}
.tb {
    border: 1px solid #dee2e6 !important;
    background: transparent !important;
    /* box-shadow: transparent !important */
}
/* THIRD PAGE CSS END */


/* FOURTH PAGE CSS */
.serverTop {
    margin-top: 0px;
    border-bottom: 1px solid #828282;
}
.serverTop span {
    font-family: Avenir Next LT Pro;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #fff;
}


.serverBody {
    border-top: 1.5px solid #ccc;
    padding: 5px
}

.sTp {
    margin-top: 35px;
}
.server {
    box-shadow: 0px 7px 11px rgba(38, 248, 248, 0.45);
    border-radius: 10px;
    width: 100%;
    margin-left: 1px !important;
}
.server1 {
    background: #1E4A86;
    border-radius: 10px 0px 0px 10px;
    padding: 28px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}

.server1 span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-left: 10px;
}

.server2 {
    padding: 10px;
    margin-left: 0px;
    margin-right: -1px;
    background: #1E4A86;
    text-align: left;
}

.server2 span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 45px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.f-green,.f-red {
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.19);
    border-radius: 0px 10px 10px 0px;
    padding: 25px;
}

.f-green i {
    color: #23CA48;
    padding-top: 24%;
    font-size: 25px;   
}

.f-green img {
    padding-top: 10px;
}

.f-red i{
    color: #D0214B;
    padding-top: 24%;
    font-size: 25px;
}

.f-red img {
    padding-top: 10px;
}
.second-serverTp {
    margin-top: 1%;
}
/* FOURTH PAGE CSS END */

/* FIFTH PAGE CSS */
.service {
    box-shadow: 0px 7px 11px rgba(38, 248, 248, 0.45);
    margin-left: 6px !important;
    margin-right: 0px !important;
    width: 100%;
    border-radius: 10px;
}
.thumbNails {
    background: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
    margin-left: 1px;
    padding-top: 13px;
}

.iThumb{
    background: #000000;
    border-radius: 0px 10px 10px 0px;
    padding-left: 7px !important;
    padding-right: 2px !important;
    padding-top: 1px;
    padding-bottom: 3px;
}

.iThumb i {
    color: #23CA48;
    padding-top: 24%;
    font-size: 25px;
}

.iThumb img {
    padding-top: 7px;
    display: block;
    width: 24px;
    height: 66px
}

/* INDICATORS */
.serverDown {
    background-color: rgb(148, 4, 4);
    border-radius: 500px;
    padding-top: 7px;
    display: block;
    width: 18px;
    height: 52px;
    margin-top: 6px;
    margin-left: 2px;
}

@keyframes indicator_down {
   
    0% {
        background:rgb(148, 4, 4);
    }
    45% {
        background:rgb(190, 0, 0);
    }

    70% {
        transform: rotate(xx);
        background:rgb(148, 4, 4);
    }
    100% {
        background:rgb(190, 0, 0);
    }
}

.serverDown {
    animation: indicator_down .7s infinite 0s ease-in-out;
}

.serverUp {
    background-color: #47CF6D;
    border-radius: 500px;
    padding-top: 7px;
    display: block;
    width: 18px;
    height: 52px;
    margin-top: 6px;
    margin-left: 2px;
}

@keyframes indicator_up {
    0% {
        background: #47CF6D;
    }

    48% {
        transform: rotate(xx);
        background: rgb(40, 168, 68);
    }
    68% {
        transform: rotate(xx);
        background: rgb(40, 168, 68);
    }

    100% {
        transform: rotate(xx);
        background: #47CF6D;
    }
}

.serverUp {
    animation: indicator_up 3s infinite 0s ease-in-out;
}

.unknownServer {
    background-color: rgb(135, 138, 123);
    border-radius: 500px;
    padding-top: 7px;
    display: block;
    width: 18px;
    height: 52px;
    margin-top: 6px;
    margin-left: 2px;
}

@keyframes unknown_Server {
    0% {
        background:rgb(135, 138, 123);
    }

    48% {
        transform: rotate(xx);
        background:rgb(80, 82, 75);
    }

    68% {
        transform: rotate(xx);
        background:rgb(80, 82, 75);
    }

    100% {
        transform: rotate(xx);
        background: rgb(135, 138, 123);
    }
}

.unknownServer {
    animation: unknown_Server 1.2s infinite 0s ease-in-out;
}

.unstableServer {
    background-color: rgb(160, 8, 21);
    border-radius: 500px;
    padding-top: 7px;
    display: block;
    width: 18px;
    height: 52px;
    margin-top: 6px;
    margin-left: 2px;
}

@keyframes unstable_server {
    0% {
        background: rgb(204, 66, 1);
    }

    48% {
        transform: rotate(xx);
        background: rgb(212, 80, 27);
    }

    68% {
        transform: rotate(xx);
        background: rgb(212, 80, 27);
        }

    100% {
        transform: rotate(xx);
        background:rgb(204, 66, 1);
    }
}

.unstableServer {
    animation: unstable_server 1s infinite 0s ease-in-out;
}
/* INDICATORS END*/

/* FIFTH PAGE CSS END */

.successfulTr {
    background: #03A34D;
    display: block;
    width: 100%;
    height: 100%;
}
.pendingTr {
    background: #4285F4;
    display: block;
    width: 100%;
    height: 100%;
}
.failedTr {
    background-color: #B6042F;
    display: block;
    width: 100%;
    height: 100%;
}
.errorTr {
    background-color: #B6042F;
    display: block;
    width: 100%;
    height: 100%;
}
.insufficientTr{
    background: #B6042F;
    display: block;
    width: 100%;
    height: 100%;
}
.errorTr{
    background: #690209;
    display: block;
    width: 100%;
    height: 100%;
}
.referToCrd{
    background: #835a02;
    display: block;
    width: 100%;
    height: 100%;
}
.processingTr{
    background: #4285F4;
    display: block;
    width: 100%;
    height: 100%;
}
.transactionNtDone{
    background: #B6042F;
    display: block;
    width: 100%;
    height: 100%;
}

.issuerOrSwitchInOperative{
    background: #cc010f;
    display: block;
    width: 100%;
    height: 100%;
}
.routineErr{
    background: #B6042F;
    display: block;
    width: 100%;
    height: 100%;
}
#recent {
    margin-bottom: 0px;
    margin-top: 0px
}